body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffcccc, #cc99ff); /* Gradient background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #99e2ff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ff99cc;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.movie-card {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

#confetti {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f0a;
    opacity: 0.8;
    border-radius: 5px;
    animation: confetti-fall 2s ease-out both;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
    }
}
